.phase-label {
  padding: 1em 0;
}

.project-name, .phase-name {
  display: block;
}

.project-name {
  font-size: 0.8em;
}
.phase-name {
  font-size: 1em;
}

.phase-week {
  position: relative;

  width: 16%;
  border-width: 0;

  text-align: center;
  vertical-align: middle;
}
.phase-week.active {
  background-color: #aaa;
}
.phase-week.reviewed {
  background-color: #40B383;
}

.phase-week a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
