.phase-title {
  margin: 0;
}

.phase-week {
  position: relative;

  width: 15%;
  border-width: 0;

  text-align: center;
  vertical-align: middle;
}
.phase-week.active {
  background-color: #aaa;
}
.phase-week.reviewed {
  background-color: #40B383;
}

.phase-week a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.time-boundary {
  display: block;

  font-size: 0.8em;
}
