<tr>
  <td class="phase-label">
    <h3 class="phase-title">
      <span class="project-name">{{phase.project.name}}</span>
      <span class="phase-name">{{phase.name}}</span>
    </h3>
    {{#with phase.first_day}}
    <span class="time-boundary">
      Starts: {{>date}}
    </span>
    {{/with}}

    {{#with phase.last_day}}
    <span class="time-boundary">
      Ends: {{>date}}
    </span>
    {{/with}}
  </td>
  {{#each weeks}}
  <td class="phase-week{{#if isActive}} active{{/if}}{{#if review}} reviewed{{/if}}">
    {{#if isActive}}
    <a href="{{ reviewUrl }}"></a>
    {{#if review}}
    Reviewed!
    {{else}}
    Review
    {{/if}}
    {{/if}}
  </td>
  {{/each}}
</tr>
