<tr>
  <td class="phase-label">
    <h3 class="phase-title">
      <span class="project-name">{{project.name}}</span>
      <span class="phase-name">{{phase.name}}</span>
    </h3>
    {{#with date_start}}
    <span class="time-boundary">
      Starts: {{>date}}
    </span>
    {{/with}}

    {{#with date_end}}
    <span class="time-boundary">
      Ends: {{>date}}
    </span>
    {{/with}}
  </td>
  {{#each weeks}}
  <td class="phase {{#if isActive}}active{{/if}}">
    {{#if isActive}}
    <a href="{{ reviewUrl }}">View</a>
    {{/if}}
  </td>
  {{/each}}
</tr>
