.utilization-attr.utilization-type {
  font-size: 1em;
  font-weight: bold;
}

.utilization-attr {
  display: block;

  font-size: 0.9em;
}

.utilization-billable {
  display: none;
}

.utilization-billable.active {
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  height: 1em;
  width: 0.45em;
  overflow: hidden;

  font-size: 10em;
  font-weight: bold;
  opacity: 0.2;
}

.front label {
  display: block;
  padding-top: 0.5em;

  font-size: 0.6em;
}

/* Day interactions */
.day {
  height: 14em;
}
.day .front, .day .back {
  padding: 0.8em;
}

.saving, .saving-screen, .saving-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.saving {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

.is-saving .saving {
  z-index: 4;
  opacity: 1;
}

.saving-screen {
  background-color: #fff;
  opacity: 0.8;
}

.saving-message {
  text-align: center;
}

/* Weekly tool structure */
.day input[type="checkbox"] {
  display: block;
  height: 1.2em;
  opacity: 0;
}

.billable {
  font-size: 0.8em;
  cursor: pointer;
  margin: 5px 0 10px 0;
  display: block;
}

.billable input[type="checkbox"] {
  opacity: 1;
  display: inline;
  cursor: pointer;
}

.day select {
  width: 100%;
  margin-bottom: 0.3em;
}

.flip .front {
  cursor: pointer;
}
.flip .back .set {
  display: block;
  width: 100%;

  cursor: pointer;
  text-align: center;
}

.flip {
  perspective: 1000;
}

/* flip the pane when checked */
.flip input:checked ~ .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip input:checked ~ .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip .front,
.flip .back {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
.flip .front { /* Initially visible */
  z-index: 3;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip .back { /* Initially hidden */
  border: 1px solid #aaa;
}

/**
 * The latest version of Firefox (version 34 at the time of this writing)
 * exhibits a bug where <label> elements with the draggable attribute will
 * not initiate a dragstart event. Because the children of such elements will
 * correctly trigger that event on their parent create an invisible element
 * that completely occupies the space of the parent.
 */
.flip .firefox-drag-workaround {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
