<td class="day flip{{#if isSaving}} is-saving{{/if}}" on-dragenter="handleDragenter()">
  <input type="checkbox"
    id="{{dayName}}{{employee.id}}"
    name="{{dayName}}{{employee.id}}"
    checked="{{uBool}}" />

  <div class="saving">
    <div class="saving-screen"></div>
    <div class="saving-message">
      Saving...
    </div>
  </div>

  <label for="{{dayName}}{{employee.id}}" class="front" style="{{ style }}" on-dragstart="handleDragstart()" on-dragend="handleDragend()" draggable="true">
    {{#with utilization}}
    <span class="utilization-type">{{ type.name }}</span>
    {{#if type.project_required}}
      <span class="utilization-project">{{ project.name }}</span>
    {{/if}}
    {{/with}}
  </label>

  <div class="back">
      <select id="{{dayName}}{{employee.id}}-type" value="{{newType}}">
      {{#each utilizationTypes}}
        <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-position"
      {{#if !newType.project_required}}disabled{{/if}}
      value="{{newPosition}}">

      <option selected disabled>Position</option>
      {{#each positions}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-project"
      {{#if !newType.project_required}}disabled{{/if}}
      value="{{newProject}}">

      <option selected disabled>Project</option>
      {{#each activeProjects}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
      {{#each phaselessProjects}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-phase"
      {{#if !newType.project_required || !phases.length}}disabled{{/if}}
      value="{{newPhase}}">

      {{! TODO: Remove the value assigned to the `disabled` attribute once the
          underlying issue in Ractive is resolved:
          https://github.com/ractivejs/ractive/issues/1635
      }}
      <option selected disabled="{{ _newPhase !== undefined }}">Phase</option>
      {{#each phases}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <label class="set" for="{{dayName}}{{employee.id}}">Set</label>
  </div>
</td>
