<td class="day flip">
  <input type="checkbox"
    id="{{dayName}}{{employee.id}}"
    name="{{dayName}}{{employee.id}}"
    checked="{{uBool}}" />

  <label for="{{dayName}}{{employee.id}}" class="front" style="{{ style }}">
    {{#with utilization}}
    <span class="utilization-type">{{ type.name }}</span>
    <span class="utilization-project">{{ project.name }}</span>
    {{/with}}
  </label>

  <div class="back">
      <select id="{{dayName}}{{employee.id}}-type" value="{{newType}}">
      {{#each utilizationTypes}}
        <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-position"
      {{#if !newType.isConsulting}}disabled{{/if}}
      value="{{newPosition}}">

      <option selected disabled>Position</option>
      {{#each positions}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-project"
      {{#if !newType.isConsulting}}disabled{{/if}}
      value="{{newProject}}">

      <option selected disabled>Project</option>
      {{#each projects}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-phase"
      {{#if !newType.isConsulting || !newProject.phases.length}}disabled{{/if}}
      >

      <option selected disabled>Phase</option>
      {{#each newProject.phases}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <label class="set" for="{{dayName}}{{employee.id}}">Set</label>
  </div>
</td>
