<td class="day flip{{#if isSaving}} is-saving{{/if}}{{#if utilization.verified}} is-verified{{/if}}"
  on-dragenter="handleDragenter()"
  >
  <input type="checkbox"
    id="{{dayName}}{{employee.id}}"
    name="{{dayName}}{{employee.id}}"
    checked="{{uBool}}" />

  <div class="saving">
    <div class="saving-screen"></div>
    <div class="saving-message">
      Saving...
    </div>
  </div>

  <label for="{{dayName}}{{employee.id}}"
    class="front"
    style="{{ style }}"
    on-dragstart="handleDragstart()"
    on-dragend="handleDragend()"
    draggable="true"
    >

    {{#with utilization}}
    <span class="utilization-type">{{ type.name }}</span>
    {{#if newProject.name}}
      <span class="utilization-project">{{ newProject.name }}</span>
      {{#if newPhase.name}}
        <span class="utilization-phase">{{ newPhase.name }}</span>
      {{/if}}
    {{/if}}
    {{/with}}
  </label>

  <div class="back">
      <select id="{{dayName}}{{employee.id}}-type" value="{{newType}}">
      {{#each utilizationTypes}}
        <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-project"
      value="{{newProjectId}}">

      <option selected disabled>Project</option>
      {{#each activeProjects}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
      {{#each phaselessProjects}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>

    <select id="{{dayName}}{{employee.id}}-phase"
      {{#if !phases.length}}disabled{{/if}}
      value="{{newPhase}}">

      {{! TODO: Remove the value assigned to the `disabled` attribute once the
          underlying issue in Ractive is resolved:
          https://github.com/ractivejs/ractive/issues/1635
      }}
      <option selected disabled="{{ _newPhase !== undefined }}">Select Phase</option>
      {{#each phases}}
      <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    <label class="set" for="{{dayName}}{{employee.id}}">Set</label>
  </div>
</td>
