.phase-info {
  float: right;
  text-align: right;
}
header h2, header h3 {
  margin: 0;
}
header .time-boundary {
  display: block;

  font-size: 0.8em;
}

.phase-info h3 {
  font-weight: normal;
}
.week-info {
  float: left;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.primary {
  padding-top: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  position: relative;
}
thead {
}
thead th {
  color: #444;
  padding: .65em 0 .5em 0;
  border: solid #ccc;
  border-width: 1px 0;

  text-transform: uppercase;
  font-size: .7em;
  font-weight: normal;

  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
}
thead th.bocouper {
  background: none;
  border: none;
}
thead th.bocouper+th {
  border-left: 1px solid #ccc;
}
thead th:last-of-type {
  border-right: 1px solid #ccc;
}
tbody th {
  width: 10em;
  padding-right: 1.5em;
}
tbody td {
  width: 15%;
}


[class*="util-"] td input {
  position: absolute;
  left: 0;
  top: 0;
}
[class*="util-"] td > label {
  border-top: 6px solid rgba(0,0,0,.15);
  margin: -1px;
}

/* Utilization color schemes */
.util-edu td:not(.no-util) input:checked + label {
  border-width: 1px;
  border-style: solid;
}
[class*="util-"] td:not(.no-util) input:checked + label {
  border-width: 6px 0 0 0;
}
[class*="util-"] td:not(.no-util):first-of-type input:checked + label {
  border-left-width: 1px;
}
[class*="util-"] td:not(.no-util):last-of-type input:checked + label {
  border-right-width: 1px;
}
[class*="util-"] tr:last-of-type td:not(.no-util) input:checked + label {
  border-bottom-width: 1px;
}

/* One-off “other utilization” cells */
[class*="util-"] td.conf {
  background-color: #ffaee2;
}
[class*="util-"] td.vacation {
  background-color: #cd80f4;
}

/* Generic “unavailable” cells */
[class*="util-"] td.unavail {
  background-color: #bbb;
}

.btn-approved {
  background: #eaeaea;
  border: solid #c8c8c8;
  border-width: 1px 2px 4px 2px;
  display: block;
  padding: .5em 1em;
}
.approved:active + label {
  background: #2fb27d;
  border: solid #15895a;
  border-width: 4px 2px 1px 2px;
}
.approved:checked + label {
  background: #2fb27d;
  border: solid #15895a;
  border-width: 1px 2px 4px 2px;
}

/* Weekly tool structure */
.week input[type="checkbox"] {
  display: block;
  height: 1.2em;
  opacity: 0;
}
.week td [type="checkbox"]+label {
  display: block;
  min-height: 7.5em;
}
.week td {
  background: #ddd;
}

/* Blank day interactions */
.blank-day {
}
.blank-day + label {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 1px;
}
.reason {
  display: none;
  position: absolute;
  top: 0;
}
.blank-day:checked ~ .reason {
  display: block;
}

.flip {
  background: #ddd;
  perspective: 1000;
}
/* flip the pane when hovered */
.flip input:checked ~ .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip input:checked ~ .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip .front,
.flip .back {
  background: #eee;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
.flip .front { /* Initially visible */
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip .back { /* Initially hidden */
  border: 1px solid #aaa;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.addt-notes {
  width: 100%;
  min-height: 10em;
}

/* Weekly tool theming */
/*
td.checked  {
  border-radius: 0;
}
td.checked.last {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}
td.checked + td:not(.checked){
  border-radius: 0;
}
td.checked:first-of-type {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
td.checked + td.checked:last-of-type {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
td:not(.checked) + td.checked {
  border-radius: 0;
  border-bottom-left-radius: .5em;
  border-top-left-radius: .5em;
}
tr td.checked:last-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
*/

/* Animations */

@-webkit-keyframes attn {
  0%   { box-shadow: 0 0 10px #329cb4; }
  100% { box-shadow: 0 0 25px #329cb4; }
}
@keyframes attn {
  0%   { box-shadow: 0 0 10px #329cb4; }
  100% { box-shadow: 0 0 25px #329cb4; }
}

.attn {
  outline: 1px solid #309ab2;
  z-index: 2;
  animation: attn 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation: attn 1s infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}
