<week-heading
  date="{{date}}",
  phase="{{phase}}"
  />

<div class="primary">
  <form on-submit="handleSubmit()">
    <table class="week util-edu">
    <thead>
      <tr>
        <th></th>
        <th scope="col" class="week-nav">
          {{#if previousWeekHref}}
          <a href="{{ previousWeekHref }}" class="prev">&lt; Previous Week</a>
          {{/if}}
        </th>
        <th scope="col"></th>
        <th scope="col">
          <a href="{{ allPhaseHref }}">All Phases</a>
        </th>
        <th scope="col"></th>
        <th scope="col" class="week-nav">
          {{#if nextWeekHref}}
          <a href="{{ nextWeekHref }}" class="next">Next Week &gt;</a>
          {{/if}}
        </th>
      </tr>
      <tr class="labels">
        <th scope="col"></th>

        {{#each weekDays}}
        <th scope="col">
          <span class="day-name">{{ name }}</span>
          <span class="day-ordinal">({{ asOrdinal(date.getDate()) }})</span>
        </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each phase.employees}}
      <wr-employee-row
        date="{{ date }}"
        employee="{{this}}"
        phase="{{phase}}"
        activePhases="{{activePhases}}"
        positions="{{positions}}"
        activeProjects="{{activeProjects}}"
        verified="{{!review.isNew()}}"
        phaselessProjects="{{phaselessProjects}}"
        utilizations="{{utilizations}}"
        utilizationTypes="{{utilizationTypes}}" />
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td class="submit">
          <input type="submit" class="btn" value="Submit!" />
        </td>
        <td colspan="5" class="notes">
          <h3>Notes</h3>
          <textarea value="{{ review.notes }}"></textarea>
        </td>
      </tr>
    </tfoot>
    </table>
  </form>
</div>
