<header>
  <div class="week-info">
    {{#with date}}
      <h2>{{>fullDate}}</h2>
    {{/with}}
  </div>

  <div class="phase-info">
    <h3 class="offering">{{ phase.project.name }}: {{ phase.name }}</h2>
    <span class="time-boundary">
      {{#with phase.first_day}}
      Starts: {{>fullDate}}
      {{/with}}
    </span>

    <span class="time-boundary">
      {{#with phase.last_day}}
      Ends: {{>fullDate}}
      {{/with}}
     </span>
  </div>
</header>

<div class="primary">
  <form on-submit="handleSubmit()">
    <table class="week util-edu">
    <thead>
      <tr>
        <th></th>
        <th scope="col">
          {{#if previousWeekHref}}
          <a href="{{ previousWeekHref }}">&lt; Previous Week</a>
          {{/if}}
        </th>
        <th scope="col"></th>
        <th scope="col">
          <a href="{{ allPhaseHref }}">All Phases</a>
        </th>
        <th scope="col"></th>
        <th scope="col">
          {{#if nextWeekHref}}
          <a href="{{ nextWeekHref }}">Next Week &gt;</a>
          {{/if}}
        </th>
      </tr>
      <tr class="labels">
        <th scope="col" class="bocouper"><span class="a11y-only">Bocouper</span></th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
      </tr>
    </thead>
    <tbody>
      {{#each phase.employees}}
      <wr-employee-row
        date="{{ date }}"
        employee="{{this}}"
        phase="{{phase}}"
        activePhases="{{activePhases}}"
        positions="{{positions}}"
        activeProjects="{{activeProjects}}"
        verified="{{!review.isNew()}}"
        utilizations="{{utilizations}}"
        utilizationTypes="{{utilizationTypes}}" />
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td class="submit">
          <input type="submit" class="btn" value="Submit!" />
        </td>
        <td colspan="5" class="notes">
          <h3>Notes</h3>
          <textarea value="{{ review.notes }}"></textarea>
        </td>
      </tr>
    </tfoot>
    </table>
  </form>
</div>
