<td class="day flip">
  <input on-change="foo" type="checkbox" id="{{name}}{{id}}" name="{{name}}{{id}}" checked="{{uBool}}">

  <label for="{{name}}{{id}}" class="front" style="{{ style }}">
    {{#with utilization}}
    <span class="utilization-type">{{ type.name }}</span>
    <span class="utilization-project">{{ project.name }}</span>
    {{/with}}
  </label>

  <div class="back">
      <select id="{{name}}{{id}}-type" value="{{newType}}">
      {{#each types}}
        <option value="{{this}}">{{name}}</option>
      {{/each}}
    </select>

    {{! TODO: Abstract the condition for consulting projects. }}
    <select id="{{name}}{{id}}-position" {{#if newType.id !== 1}}disabled{{/if}}>
      <option selected disabled>Position</option>
      <option>Open Web Engineer</option>
    </select>

    {{! TODO: Abstract the condition for consulting projects. }}
    <select id="{{name}}{{id}}-project}}" {{#if newType.id !== 1}}disabled{{/if}}>
      <option selected disabled>Project</option>
      <option>Riot</option>
    </select>

    <label class="set" for="{{name}}{{id}}">Set</label>
  </div>
</td>
