<tr>
  <th scope="row">
    {{ employee.first }} {{ employee.last }}
    <input type="checkbox"
      name="verify{{ employee.id }}"
      id="verify-{{ employee.id }}"
      class="verification"
      checked="{{verified}}">
    <label class="btn btn-verify" for="verify-{{ employee.id }}">
      Verified
    </label>
  </th>
  {{!#each days}}
  {{#each ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']:offset }}
  <wr-employee-row-day
    dayName="{{this}}"
    dayNum="{{offset + 1}}"
    employee="{{employee}}"
    phase="{{phase}}"
    activePhases="{{activePhases}}"
    positions="{{positions}}"
    activeProjects="{{activeProjects}}",
    utilization="{{utilizations.atDay(date, offset + 1)}}"
    utilizations="{{utilizations}}"
    utilizationTypes="{{utilizationTypes}}"
    weekStart="{{date}}" />
  {{/each}}
</tr>
