<tr>
  <th scope="row">
    {{ employee.first }} {{ employee.last }}
    <input type="checkbox" name="verify{{ employee.id }}" id="verify-{{ employee.id }}" class="verified">
    <label class="btn-verified" for="verify-{{ employee.id }}">
      Verified
    </label>
  </th>
  {{!#each days}}
  {{#each ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']:offset }}
  <bp-employee-row-day
    dayName="{{this}}"
    dayNum="{{offset}}"
    employee="{{employee}}"
    phase="{{phase}}"
    positions="{{positions}}"
    projects="{{projects}}",
    utilization="{{utilizations.atDay(date, offset)}}"
    utilizations="{{utilizations}}"
    utilizationTypes="{{utilizationTypes}}"
    weekStart="{{date}}" />
  {{/each}}
</tr>
