<table class="phase-table">
  <thead>
    <tr>
      <td></td>
      {{#each weeks}}
      <td class="week-label">{{>date}}</td>
      {{/each}}
    </tr>
    <tr>
      <td></td>
      {{#each weeks}}
      <td>
        {{#if @index === 0}}
        <a href="{{prevWeek}}">Prev</a>
        {{/if}}
        {{#if @index === weeks.length - 1}}
        <a href="{{nextWeek}}">Next</a>
        {{/if}}
      </td>
      {{/each}}
    </td>
  </thead>
  <tbody>
    {{#each visiblePhases:phaseIdx}}
      <bp-phase-table-row
        phase="{{visiblePhases[phaseIdx]}}"
        data-num-weeks="{{numWeeks}}"
        data-first-week="{{firstWeek}}" />
    {{else}}
    <tr>
      <td></td>
      <td colspan="{{ weeks.length }}">No phases in this timeframe.</td>
    </tr>
    {{/each}}
  </tbody>
</table>
