<table class="phase-table">
  <thead>
    <tr>
      <td></td>
      {{#each weeks}}
      <td>
        {{#if @index === 0}}
        <a href="{{ phaseUrl(-1) }}">&lt; Previous Week</a>
        {{/if}}
        {{#if @index === weeks.length - 1}}
        <a href="{{ phaseUrl(1) }}">Next Week &gt;</a>
        {{/if}}
      </td>
      {{/each}}
    </tr>
    <tr class="labels">
      <th></th>
      {{#each weeks}}
      <th class="week-label">{{>date}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each visiblePhases:phaseIdx}}
      <wr-phase-table-row
        phase="{{visiblePhases[phaseIdx]}}"
        data-num-weeks="{{numWeeks}}"
        data-first-week="{{firstWeek}}" />
    {{else}}
    <tr>
      <td></td>
      <td colspan="{{ weeks.length }}">No phases in this timeframe.</td>
    </tr>
    {{/each}}
  </tbody>
</table>
