<table class="phase-table">
  <thead>
    <tr>
      <td></td>
      {{#each weeks}}
      <td>{{>date}}</td>
      {{/each}}
    </tr>
    <tr>
      <td></td>
      {{#each weeks}}
      <td>
        {{#if @index === 0}}
        <a href="{{prevWeek}}">Prev</a>
        {{/if}}
        {{#if @index === weeks.length - 1}}
        <a href="{{nextWeek}}">Next</a>
        {{/if}}
      </td>
      {{/each}}
    </td>
  </thead>
  <tbody>
    {{#each visibleProjects:projectIdx}}
      {{#each phases}}
      <bp-phase-table-row
        project="{{visibleProjects[projectIdx]}}"
        phase="{{this}}"
        data-num-weeks="{{numWeeks}}"
        data-first-week="{{firstWeek}}" />
      {{else}}
      <bp-phase-table-row
        project="{{this}}"
        data-num-weeks="{{numWeeks}}"
        data-first-week="{{firstWeek}}" />
      {{/each}}
    {{else}}
    <tr>
      <td></td>
      <td colspan="{{ weeks.length }}">No phases in this timeframe.</td>
    </tr>
    {{/each}}
  </tbody>
</table>
