.app-header, main {
  position: relative;

  margin: 0 auto;
  max-width: 1024px;
}

.app-header {
  margin-top: 0.3em;
}

.app-header h1 {
  margin: 0;
  font-size: 1.4em;
}

.app-header h1 a {
  text-decoration: none;
}

.log-out {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 1em;
}

main {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
main.is-loading {
  opacity: 0.2;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  transition: opacity 2s;
}
