<header class="app-header">
  <h1 class="app-title"><a href="/">Weekly Review</a></h1>

  {{#if loggedIn }}
  <a href="/logout/" class="log-out">Log Out</a>
  {{/if }}
  <wr-notification-list />
</header>

<main>
  {{#if route === 'phaseList' }}
  <wr-phase-table
    firstWeek="{{firstWeek}}"
    numWeeks="{{numWeeks}}"
    phases="{{phases}}"
    />
  {{/if}}

  {{#if route === 'review' }}
  <wr-review
    activePhases="{{activePhases}}"
    date="{{date}}"
    phase="{{phase}}"
    phaselessProjects="{{phaselessProjects}}"
    positions="{{positions}}"
    review="{{review}}"
    utilizationTypes="{{utilizationTypes}}"
    />
  {{/if}}

  {{#if !loggedIn }}
  <wr-login-prompt />
  {{/if}}
</main>
